<section>
  <div class="page-header">
    <h1>{{vm.facturacionencomienda._id ? 'Editar Facturacion de Encomienda' : 'Nueva Facturacion de Encomienda'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.facturacionencomiendaForm" class="form-horizontal" ng-submit="vm.save(vm.form.facturacionencomiendaForm.$valid)" novalidate>
      <fieldset>

      <div class="well">
        <h4>Detalle viaje</h4>
          <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">Viaje</label>
          <input name="nombre_cliente" type="date" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">Persona a entregar</label>
          <input name="nombre_cliente" type="text" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">Tipo de encomienda</label>
          <input name="nombre_cliente" type="text" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">Fecha de salida</label>
          <input name="nombre_cliente" type="text" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">Fecha de llegada</label>
          <input name="nombre_cliente" type="text" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>
        <h4>Persona a entregar</h4>
            <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">datos de la persona</label>
          <input name="nombre_cliente" type="text" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>

        <h4>Detalle cliente</h4>
            <div class="form-group" show-errors>
          <label class="control-label" for="nombre_cliente">cliente</label>
          <input name="nombre_cliente" type="text" ng-model="vm.cliente.nombre_cliente" id="nombre_cliente" class="form-control" placeholder="Nombre cliente" required>
          <div ng-messages="vm.form.clienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere nombre del cliente</p>
          </div>
        </div>
        

    
      </div>

        
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.facturacionencomienda._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
