<section>
  <div class="page-header">
    <h1>Facturacion Encomiendas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="facturacionencomienda in vm.facturacionencomiendas"
       ui-sref="facturacionencomiendas.view({ facturacionencomiendaId: facturacionencomienda._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="facturacionencomienda.created | date:'mediumDate'"></span>
        by
        <span ng-if="facturacionencomienda.user" ng-bind="facturacionencomienda.user.displayName"></span>
        <span ng-if="!facturacionencomienda.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="facturacionencomienda.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.facturacionencomiendas.$resolved && !vm.facturacionencomiendas.length">
    No Facturacionencomiendas yet, why don't you <a ui-sref="facturacionencomiendas.create">create one</a>?
  </div>
</section>
