<section>
  <div class="page-header">
    <h1>Ruta</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="rutum in vm.ruta"
       ui-sref="ruta.view({ rutumId: rutum._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="rutum.created | date:'mediumDate'"></span>
        by
        <span ng-if="rutum.user" ng-bind="rutum.user.displayName"></span>
        <span ng-if="!rutum.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="rutum.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ruta.$resolved && !vm.ruta.length">
    No Ruta yet, why don't you <a ui-sref="ruta.create">create one</a>?
  </div>
</section>
