<section>
  <div class="page-header">
    <div class="pull-right"><a class="btn btn-primary" href="http://localhost:3000/tramos">Atras</a>
  </div>
    <center><h1>Datos del tramo</h1></center>
    <h2><left>Nombre del tramo: {{vm.tramo.name}}</left></h2>
    <h2><left>Inicio del tramo: {{vm.tramo.inicio_tramo}}</left></h2>
    <h2><left>Final del tramo: {{vm.tramo.final_tramo}}</left></h2>
    <h2><left>Duracion horas: {{vm.tramo.duracion}}</left></h2>
    <h2><left>Kilometro: {{vm.tramo.kilometros}}</left></h2>
    <h2><left>Precio dia: {{vm.tramo.precio_dia}}</left></h2>
    <h2><left>Precio noche: {{vm.tramo.precio_noche}}</left></h2>
  </div>
  <div class="pull-right"
       ng-show="vm.tramo.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="tramos.edit({ tramoId: vm.tramo._id })">
      <i class="glyphicon glyphicon-edit"> Actualizar</i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"> Eliminar</i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Creado el
      <span ng-bind="vm.tramo.created | date:'mediumDate'"></span>
      por
      <span ng-if="vm.tramo.user"
            ng-bind="vm.tramo.user.displayName"></span>
      <span ng-if="!vm.tramo.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.tramo.content"></p>
</section>
