<section>
  <div class="page-header">
    <center><h1>Choferes</h1></center>
    <A class="btn btn-success" HREF="http://localhost:3000/chofers/create">Crear</A>
  </div>
  <div>    
      <table class="table table-bordered">
        <thead>
         <tr>
          <th>Celula de identidad</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Celular</th>
          <th>Direccion</th>
          <th>Edad</th>
          <th>Fecha de nacimiento</th>
         </tr>
        </thead>
          <tbody>
           <tr ng-repeat = "chofer in vm.chofers">
            <td>{{chofer.ci}}</td>
            <td>{{chofer.name}}</td>
            <td>{{chofer.last_name}}</td>
            <td>{{chofer.cell_phone}}</td>
            <td>{{chofer.address}}</td>
            <td>{{chofer.age}}</td>
            <td>{{chofer.birthdate}}</td>
            <td>
             <div class="table-actions">
               <a clas="btn btn-default" title="Ver" href="/#!/chofers/{{chofer._id}}">
                <span class="glyphicon glyphicon-eye-open"></span>
               </a>
               <a clas="btn btn-default" title="Editar" href="/#!/chofers/{{chofer._id}}/edit">
                <span class="glyphicon glyphicon-edit"></span>
               </a>
               
             </div>
            </td>
            </tr>         
          </tbody>
      </table>
    </div>

  
  <div class="alert alert-warning text-center" ng-if="vm.chofers.$resolved && !vm.chofers.length">
    No hay choferes sin embargo, ¿por qué no <a ui-sref="chofers.create">crea uno</a>?
  </div>
</section>
