<section>
  <div class="page-header">

    <h2><left>Nombre: {{vm.chofer.name}}</left></h2>
    <h2><left>Apellidos: {{vm.chofer.last_name}}</left></h2>
    <h2><left>Celular: {{vm.chofer.cell_phone}}</left></h2>
    <h2><left>Direccion: {{vm.chofer.address}}</left></h2>
    <h2><left>Edad: {{vm.chofer.age}}</left></h2>
    <h2><left>Fecha de nacimiento: {{vm.chofer.birthdate}}</left></h2>



  </div>
  <div class="pull-right"
       ng-show="vm.chofer.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="chofers.edit({ choferId: vm.chofer._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Publicado en
      <span ng-bind="vm.chofer.created | date:'mediumDate'"></span>
      por
      <span ng-if="vm.chofer.user"
            ng-bind="vm.chofer.user.displayName"></span>
      <span ng-if="!vm.chofer.user">Eliminar choferr</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.chofer.content"></p>
</section>
