<section>
  <div class="page-header">
    <center><h1>Clientes</h1></center>
    <A class="btn btn-success" HREF="http://localhost:3000/clientes/create">Crear</A>
  </div>

<div>    
      <table class="table table-bordered">
        <thead>
         <tr>
          <th>Nombre cliente</th>
          <th>Apellidos cliente</th>
          <th>Ci o nit</th>
          </tr>
        </thead>
          <tbody>
           <tr ng-repeat = "cliente in vm.clientes">
            <td>{{cliente.nombre_cliente}}</td>
            <td>{{cliente.apellidos_cliente}}</td>
            <td>{{cliente.ci_nit}}</td>
            <td>
             <div class="table-actions">
               <a clas="btn btn-default" title="Ver" href="/#!/clientes/{{cliente._id}}">
                <span class="glyphicon glyphicon-eye-open"></span>
               </a>
               <a clas="btn btn-default" title="Editar" href="/#!/clientes/{{cliente._id}}/edit">
                <span class="glyphicon glyphicon-edit"></span>
               </a>
               
             </div>
            </td>
            </tr>         
          </tbody>
      </table>
    </div>

  
  <div class="alert alert-warning text-center" ng-if="vm.clientes.$resolved && !vm.clientes.length">
    No Clientes yet, why don't you <a ui-sref="clientes.create">create one</a>?
  </div>
</section>
