<section>
  <div class="page-header">
    <h1>Clientes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cliente in vm.clientes"
       ui-sref="clientes.view({ clienteId: cliente._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cliente.created | date:'mediumDate'"></span>
        by
        <span ng-if="cliente.user" ng-bind="cliente.user.displayName"></span>
        <span ng-if="!cliente.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cliente.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.clientes.$resolved && !vm.clientes.length">
    No Clientes yet, why don't you <a ui-sref="clientes.create">create one</a>?
  </div>
</section>
