<section>
  <div class="page-header">
    <h1 ng-bind="vm.cliente.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.cliente.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="clientes.edit({ clienteId: vm.cliente._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.cliente.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.cliente.user"
            ng-bind="vm.cliente.user.displayName"></span>
      <span ng-if="!vm.cliente.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.cliente.content"></p>
</section>
