<section>
  <div class="page-header">
    <h1>{{vm.bus._id ? 'Edit Bus' : 'Nuevo Bus'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.busForm" class="form-horizontal" ng-submit="vm.save(vm.form.busForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="placa">Placa</label>
          <input name="placa" type="text" ng-model="vm.bus.placa" id="placa" class="form-control" placeholder="Placa" required>
          <div ng-messages="vm.form.busForm.placa.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere placa de bus.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="color">color</label>
          <input name="color" type="text" ng-model="vm.bus.color" id="color" class="form-control" placeholder="Color" required>
          <div ng-messages="vm.form.busForm.color.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere color de bus</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="modelo">Modelo</label>
          <input name="modelo" type="text" ng-model="vm.bus.modelo" id="modelo" class="form-control" placeholder="Modelo" required>
          <div ng-messages="vm.form.busForm.modelo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere modelo de bus</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="asientos">Cantidad de asientos</label>
          <input name="asientos" type="text" ng-model="vm.bus.asientos" id="asientos" class="form-control" placeholder="Cantidad de asientos" required>
          <div ng-messages="vm.form.busForm.asientos.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere cantidad de asientos de bus</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="tipo_bus">Tipo de bus</label>
          <select name="tipo_bus"  ng-model="vm.bus.tipo_bus" id="tipo_bus" class="form-control" required>
            <option value="">--Elige un tipo de bus--</option>
            <option>Bus_Normal</option>
            <option>Bus_SemiCama</option>
            <option>Bus_Cama</option>
          </select>
          <div ng-messages="vm.form.busForm.tipo_bus.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere tipo de bus</p>
          </div>
        </div>
   
        <div class="form-group" show-errors>
          <label class="control-label" for="pisos">Cantidad de pisos</label>
          <select name="pisos"  ng-model="vm.bus.pisos" id="pisos" class="form-control" placeholder="Cantidad de pisos" required>
            <option value="">--Elige la cantidad de pisos--</option>
            <option>1</option>
            <option>2</option>
          </select>
          <div ng-messages="vm.form.busForm.pisos.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere cantidad de pisos de bus</p>
          </div>
        </div>
        
          


        <div class="form-group">
          <button type="submit" class="btn btn-success">{{vm.bus._id ? 'Actualizar' : 'Crear'}}</button>
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>


      </fieldset>
    </form>
  </div>
</section>
