<section>
  <div class="page-header">
  <div class="pull-right"><a class="btn btn-primary" href="http://localhost:3000/buses">atras</a>
  </div>
    <center><h1>Datos Del Bus</h1></center>
    <h2><left>Placa: {{vm.bus.placa}}</left></h2>
    <h2><left>Color: {{vm.bus.color}}</left></h2>
    <h2><left>Modelo: {{vm.bus.modelo}}</left></h2>
    <h2><left>Cantidad de asientos: {{vm.bus.asientos}}</left></h2>
    <h2><left>Tipo de bus: {{vm.bus.tipo_bus}}</left></h2>
    <h2><left>Cantidad de pisos: {{vm.bus.pisos}}</left></h2>
  </div>
  <div class="pull-right"
       ng-show="vm.bus.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="buses.edit({ busId: vm.bus._id })">
      <i class="glyphicon glyphicon-edit"> Actualizar</i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"> Eliminar</i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Publicado en
      <span ng-bind="vm.bus.created | date:'mediumDate'"></span>
      por
      <span ng-if="vm.bus.user"
            ng-bind="vm.bus.user.displayName"></span>
      <span ng-if="!vm.bus.user">Bus eliminado</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.bus.content"></p>
</section>
