<section>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/al.png" />
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/bus.png" />
      </div>
    
    </div>
    <div class="row">
    <p align="justify">Somos una empresa Boliviana de transporte terrestre, fundada el 10 de junio de 1.962 en la ciudad de La Paz, Inaugurando el Servicio Interdepartamental de Pasajeros, de las provincias de la ciudad de La Paz ,incrementando los servicios de Carga y Encomiendas.
    Actualmente las oficinas centrales se encuentran en la ciudad de La paz, por tratarse de un   lugar estratégico para el servicio de transporte por carretera, y por su ubicación.</p>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail">
        <img src="modules/core/client/img/loaders/1.jpg" alt="...">
        </a>
      </div>
    </div>  
  </div>  
    
  
  
</section>
