<section>
  <div class="page-header">
    <h1>Encomiendas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="encomienda in vm.encomiendas"
       ui-sref="encomiendas.view({ encomiendaId: encomienda._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="encomienda.created | date:'mediumDate'"></span>
        by
        <span ng-if="encomienda.user" ng-bind="encomienda.user.displayName"></span>
        <span ng-if="!encomienda.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="encomienda.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.encomiendas.$resolved && !vm.encomiendas.length">
    No Encomiendas yet, why don't you <a ui-sref="encomiendas.create">create one</a>?
  </div>
</section>
