<section>
  <div class="page-header">
    <h1>Asistentes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="asistente in vm.asistentes"
       ui-sref="asistentes.view({ asistenteId: asistente._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="asistente.created | date:'mediumDate'"></span>
        by
        <span ng-if="asistente.user" ng-bind="asistente.user.displayName"></span>
        <span ng-if="!asistente.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="asistente.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.asistentes.$resolved && !vm.asistentes.length">
    No Asistentes yet, why don't you <a ui-sref="asistentes.create">create one</a>?
  </div>
</section>
