<section>
  <div class="page-header">
    <h1>Reportes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="reporte in vm.reportes"
       ui-sref="reportes.view({ reporteId: reporte._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="reporte.created | date:'mediumDate'"></span>
        by
        <span ng-if="reporte.user" ng-bind="reporte.user.displayName"></span>
        <span ng-if="!reporte.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="reporte.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.reportes.$resolved && !vm.reportes.length">
    No Reportes yet, why don't you <a ui-sref="reportes.create">create one</a>?
  </div>
</section>
