<section>
  <div class="page-header">
    <h1>{{vm.viaje._id ? 'Editar Viaje' : 'Nuevo viaje'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.viajeForm" class="form-horizontal" ng-submit="vm.save(vm.form.viajeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="horario">Horario</label>
          <input name="horario" type="text" ng-model="vm.viaje.horario" id="horario" class="form-control" placeholder="Horario" required>
          <div ng-messages="vm.form.viajeForm.horario.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere horario</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="destino">Destino</label>
          <input name="destino" type="text" ng-model="vm.viaje.destino" id="destino" class="form-control" placeholder="Destino" required>
          <div ng-messages="vm.form.viajeForm.destino.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere destino</p>
          </div>
        </div>

         <div class="form-group" show-errors>
          <label class="control-label" for="turno_salida">Turno de salida</label>
          <select name="turno_salida"  ng-model="vm.viaje.turno_salida" id="turno_salida" class="form-control" placeholder="turno de salida" required>
            <option>Dia</option>
            <option>Tarde</option>
            <option>Noche</option>
          </select>
          <div ng-messages="vm.form.viajeForm.turno_salida.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere turno de salida</p>
          </div>
        </div>  

        
        <div class="form-group" show-errors>
          <label class="control-label" for="bus">Placa</label>
          <input name="placa" type="text" ng-model="vm.bus.placa" id="placa" class="form-control" placeholder="Placa de bus" required>
          <div ng-messages="vm.form.busForm.bus.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere placa de bus.</p>
          </div>
        </div>


        

        <div class="form-group" show-errors>
          <label class="control-label" for="costo">Costo</label>
          <input name="costo" type="text" ng-model="vm.viaje.costo" id="costo" class="form-control" placeholder="costo" required>
          <div ng-messages="vm.form.viajeForm.costo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere el costo.</p>
          </div>
        </div>





        
        
                
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.viaje._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
