<section>
  
  <div class="page-header">
  <div class="pull-right"><a class="btn btn-primary" href="http://localhost:3000/viajes">Atras</a>
  </div>
  <center><h1>datos del viaje</h1></center>
    <h2><left>Horario: {{vm.viaje.horario}}</left></h2>
    <h2><left>Destino: {{vm.viaje.destino}}</left></h2>
    <h2><left>Turno de salida: {{vm.viaje.turno_salida}}</left></h2>
    <h2><left>Celula de identidad Chofer: {{vm.viaje.chofer}}</left></h2>
    <h2><left>TIpo deBus: {{vm.viaje.bus}}</left></h2>
    <h2><left>Celula de identidad Asistente: {{vm.viaje.asistente}}</left></h2>
    <h2><left>Nombre del tramo: {{vm.viaje.tramo}}</left></h2>
    <h2><left>costo: {{vm.viaje.costo}}</left></h2>
  </div>

  <div class="pull-right"
       ng-show="vm.viaje.isCurrentUserOwner">
  
    <a class="btn btn-primary"
       ui-sref="viajes.edit({ viajeId: vm.viaje._id })">
      <i class="glyphicon glyphicon-edit"> Actualizar</i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"> Eliminar</i>
    </a>
  </div>
  
  <p class="lead" ng-bind="vm.viaje.content"></p>
</section>
