<section>
  <div class="page-header">
    <h2><left>Horario: {{vm.viaje.horario}}</left></h2>
    <h2><left>Destino: {{vm.viaje.destino}}</left></h2>
    <h2><left>Turno de salida: {{vm.viaje.turno_salida}}</left></h2>
    <h2><left>Bus: {{vm.bus.placa}}</left></h2>
    
  </div>
  <div class="pull-right"
       ng-show="vm.viaje.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="viajes.edit({ viajeId: vm.viaje._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.viaje.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.viaje.user"
            ng-bind="vm.viaje.user.displayName"></span>
      <span ng-if="!vm.viaje.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.viaje.content"></p>
</section>
